<span class="next">
  <%=
    link_to_unless current_page.last?,
                   t('views.pagination.next').html_safe,
                   url,
                   rel: 'next',
                   remote: remote,
                   class:
                     'flex items-center justify-center px-3 h-8 leading-tight text-green-100 bg-white border border-gray-300 rounded-e-lg hover:text-green-200'
  %>
</span>
