.comment-container{
  background-color: #f1f5f9;
  border-radius: 8px;        
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px;            
  max-width: 700px;          
  width: 100%;  
}

.comment-body{
  background-color: #f1f5f9;
  font-size: 0.8rem;
  border: none;
  padding: 10px;
  font-size: 14px; 
  width: 100%; 
}
